body{
  overflow-y: hidden;

}
.app{
    background-color: #1C1C1C;
    overflow: auto;
    height: 100vh;
}
.appBody{
  height:100vh;
  width:90%;
  margin:0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

}
.main{
  overflow: hidden;
  width: 600px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style:none;
  scrollbar-width: none;
  border-right:solid rgba(255, 255, 255, 0.3) 1px;
  border-left:solid rgba(255, 255, 255, 0.3) 1px;

}
.main::-webkit-scrollbar{
    display: none;
}
