.options{
    width: 300px;
    margin:10px auto;
    margin-bottom: 30px;
    padding:0 10px;
    /* border: solid white 1px; */
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
